.translatelabels-highlight {
    background-color: #ebf3fb !important;
}

div.translatelabels-status-message {
    padding: 6px !important;
    border-left: 3px solid #ccc !important;
    display: none;
}

div.translatelabels-error-response {
    background-color: #efc7c7 !important;
    border-color: #c83c3c !important;
    color: #333 !important;
}

div.translatelabels-ok-response {
    background-color: #d1e2bd !important;
    border-color: #79a548 !important;
    color: #333 !important;
}

span.translatelabels-tooltip {
    border-bottom: 1px dashed red !important;
}

span.translatelabels-tooltip-inner {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px;
}

table.tx_translatelabels-translations a {
    color: #333;
}
